lab04/lab04_CODE.json
[
  {
    "id": "407618cc66f1f55d",
    "type": "tab",
    "label": "Flow 7",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "933543bc31070b83",
    "type": "ui_button",
    "z": "407618cc66f1f55d",
    "name": "",
    "group": "92188771bf4b9d16",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Button",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "star",
    "payload": "Clicked",
    "payloadType": "str",
    "topic": "Button",
    "topicType": "str",
    "x": 290,
    "y": 140,
    "wires": [["72879cf7d11f6a39"]]
  },
  {
    "id": "72879cf7d11f6a39",
    "type": "function",
    "z": "407618cc66f1f55d",
    "name": "Xuất ra log",
    "func": "var dashboardLog = flow.get('dashboardLog')|| [];\n\ndashboardLog.push(msg);\nif (dashboardLog.length > 20) {\n    dashboardLog.shift();\n    dashboardLog.length = 20;\n}\n\nflow.set('dashboardLog', dashboardLog);\nmsg = {}\nmsg.payload = dashboardLog;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 570,
    "y": 340,
    "wires": [["af25699f9c663238"]]
  },
  {
    "id": "af25699f9c663238",
    "type": "ui_template",
    "z": "407618cc66f1f55d",
    "group": "8f3de1381ede33de",
    "name": "Logs",
    "order": 1,
    "width": "6",
    "height": "8",
    "format": "<ul>\n    <li ng-repeat=\"x in msg.payload\">\n        <font color=\"red\">{{x.topic}}</font>\n        <ul>\n            <li>{{x.payload}}</li>\n        </ul>\n    </li>\n</ul>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 770,
    "y": 340,
    "wires": [[]]
  },
  {
    "id": "77e92396a56aecb7",
    "type": "ui_dropdown",
    "z": "407618cc66f1f55d",
    "name": "",
    "label": "Choices",
    "tooltip": "",
    "place": "Select option",
    "group": "92188771bf4b9d16",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": true,
    "multiple": true,
    "options": [
      {
        "label": "Choice1",
        "value": "Hello",
        "type": "str"
      },
      {
        "label": "Choice2",
        "value": 5,
        "type": "num"
      },
      {
        "label": "Choice3",
        "value": true,
        "type": "bool"
      }
    ],
    "payload": "",
    "topic": "Choices",
    "topicType": "str",
    "className": "",
    "x": 280,
    "y": 220,
    "wires": [["72879cf7d11f6a39"]]
  },
  {
    "id": "282d7fadfb1b5eba",
    "type": "ui_switch",
    "z": "407618cc66f1f55d",
    "name": "",
    "label": "Switch",
    "tooltip": "",
    "group": "92188771bf4b9d16",
    "order": 3,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": "false",
    "topic": "Switch",
    "topicType": "str",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "animate": false,
    "className": "",
    "x": 290,
    "y": 300,
    "wires": [["72879cf7d11f6a39"]]
  },
  {
    "id": "c909dfcab2d24d90",
    "type": "ui_slider",
    "z": "407618cc66f1f55d",
    "name": "",
    "label": "Slider",
    "tooltip": "",
    "group": "92188771bf4b9d16",
    "order": 4,
    "width": 0,
    "height": 0,
    "passthru": true,
    "outs": "all",
    "topic": "Slider",
    "topicType": "str",
    "min": 0,
    "max": 10,
    "step": 1,
    "className": "",
    "x": 290,
    "y": 380,
    "wires": [["72879cf7d11f6a39"]]
  },
  {
    "id": "0ba25dbb1dc76df4",
    "type": "ui_numeric",
    "z": "407618cc66f1f55d",
    "name": "",
    "label": "Numeric",
    "tooltip": "",
    "group": "92188771bf4b9d16",
    "order": 5,
    "width": 0,
    "height": 0,
    "wrap": false,
    "passthru": true,
    "topic": "Numeric",
    "topicType": "str",
    "format": "{{value}}",
    "min": 0,
    "max": 10,
    "step": 1,
    "className": "",
    "x": 280,
    "y": 460,
    "wires": [["72879cf7d11f6a39"]]
  },
  {
    "id": "0cdd19e0fa59010a",
    "type": "ui_text_input",
    "z": "407618cc66f1f55d",
    "name": "",
    "label": "Change text",
    "tooltip": "",
    "group": "92188771bf4b9d16",
    "order": 6,
    "width": 0,
    "height": 0,
    "passthru": true,
    "mode": "text",
    "delay": 300,
    "topic": "Text input",
    "sendOnBlur": true,
    "className": "",
    "topicType": "str",
    "x": 290,
    "y": 540,
    "wires": [["72879cf7d11f6a39"]]
  },
  {
    "id": "92188771bf4b9d16",
    "type": "ui_group",
    "name": "UI Elements",
    "tab": "d7bf97586f7c7304",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false,
    "className": ""
  },
  {
    "id": "8f3de1381ede33de",
    "type": "ui_group",
    "name": "Logs",
    "tab": "d7bf97586f7c7304",
    "order": 2,
    "disp": true,
    "width": "6",
    "collapse": false,
    "className": ""
  },
  {
    "id": "d7bf97586f7c7304",
    "type": "ui_tab",
    "name": "Event Logs",
    "icon": "dashboard",
    "order": 2,
    "disabled": false,
    "hidden": false
  }
]
