quiz06/quiz06.json
[
  {
    "id": "407618cc66f1f55d",
    "type": "tab",
    "label": "Flow 7",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "e15ec8ee79855c1e",
    "type": "ui_form",
    "z": "407618cc66f1f55d",
    "name": "",
    "label": "",
    "group": "92188771bf4b9d16",
    "order": 8,
    "width": 0,
    "height": 0,
    "options": [
      {
        "label": "StudentID ",
        "value": "mssv",
        "type": "text",
        "required": true,
        "rows": null
      }
    ],
    "formValue": {
      "mssv": ""
    },
    "payload": "",
    "submit": "Submit",
    "cancel": "Cancel",
    "topic": "topic",
    "topicType": "msg",
    "splitLayout": "",
    "className": "",
    "x": 470,
    "y": 140,
    "wires": [["a2c28813653fc376", "0b8e58cf07a3f0c0"]]
  },
  {
    "id": "27ddba59f414e71d",
    "type": "mqtt in",
    "z": "407618cc66f1f55d",
    "name": "",
    "topic": "MSSV-in",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "0ae19e84550b2567",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 180,
    "y": 140,
    "wires": [["e214687f5dbfbca7"]]
  },
  {
    "id": "a2c28813653fc376",
    "type": "mqtt out",
    "z": "407618cc66f1f55d",
    "name": "",
    "topic": "20127335",
    "qos": "2",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "0ae19e84550b2567",
    "x": 640,
    "y": 140,
    "wires": []
  },
  {
    "id": "0b8e58cf07a3f0c0",
    "type": "debug",
    "z": "407618cc66f1f55d",
    "name": "debug 4",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 640,
    "y": 240,
    "wires": []
  },
  {
    "id": "e214687f5dbfbca7",
    "type": "ui_text",
    "z": "407618cc66f1f55d",
    "group": "92188771bf4b9d16",
    "order": 9,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Name",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 330,
    "y": 140,
    "wires": []
  },
  {
    "id": "92188771bf4b9d16",
    "type": "ui_group",
    "name": "Default",
    "tab": "d7bf97586f7c7304",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false,
    "className": ""
  },
  {
    "id": "0ae19e84550b2567",
    "type": "mqtt-broker",
    "name": "",
    "broker": "broker.mqtt-dashboard.com",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "d7bf97586f7c7304",
    "type": "ui_tab",
    "name": "Home",
    "icon": "dashboard",
    "order": 2,
    "disabled": false,
    "hidden": false
  }
]
